body{
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#game-container{
    position: relative;
}

.ui{
    width: 300px;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
}

input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: white;
    border-top: none;
    position: absolute;
}

ul li{
    padding: 10px;
    cursor: pointer;
}

#results li:hover{
    background-color: #f0f0f0;
}

#enter-city{
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}